.ctrl {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    background-color: rgb(25, 44, 56);
    border-radius: 5px;
    font-size: 30px;
    margin: 10px 0px 10px 0px;
    justify-content: center;
}
.ctrl__counter {
    position: relative;
    width: 30%;
    height: 60px;
    color: #333C48;
    text-align: center;
    overflow: hidden;
    border: 1px solid #071824;
}
.ctrl__counter.is-input .ctrl__counter-num {
    visability: hidden;
    opacity: 0;
    transition: opacity 100ms ease-in;
}
.ctrl__counter.is-input .ctrl__counter-input {
    visability: visible;
    opacity: 1;
    transition: opacity 100ms ease-in;
}
.ctrl__counter-input {
    background: transparent;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    box-shadow: none;
    outline: none;
    border: none;
    color: #333C48;
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    visability: hidden;
    opacity: 1;
    top: -20px;
    transition: opacity 100ms ease-in;
    background-color: white;
}
.ctrl__counter-num {
    position: absolute;
    z-index: 1;
    top: -20px;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 100px;
    visability: visible;
    opacity: 1;
    transition: opacity 1000ms ease-in;
}
.ctrl__counter-num.is-increment-hide {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-animation: increment-prev 100ms ease-in;
    animation: increment-prev 100ms ease-in;
}
.ctrl__counter-num.is-increment-visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation: increment-next 100ms ease-out;
    animation: increment-next 100ms ease-out;
}
.ctrl__counter-num.is-decrement-hide {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-animation: decrement-prev 100ms ease-in;
    animation: decrement-prev 100ms ease-in;
}
.ctrl__counter-num.is-decrement-visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation: decrement-next 100ms ease-out;
    animation: decrement-next 100ms ease-out;
}
.ctrl__button {
    width: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #071824;
    transition: background-color 100ms ease-in;
}
.ctrl__button:hover {
    background-color: #071824;
    transition: background-color 100ms ease-in;
}
.ctrl__button:active {
    background-color: #071824;
    transition: background-color 100ms ease-in;
}
.ctrl__button--decrement {
    border-radius: 5px 0 0 5px;
}
.ctrl__button--increment {
    border-radius: 0 5px 5px 0;
}
@-webkit-keyframes decrement-prev {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes decrement-prev {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes decrement-next {
    from {
        opacity: 0;
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
}
@keyframes decrement-next {
    from {
        opacity: 0;
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
}
@-webkit-keyframes increment-prev {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes increment-prev {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes increment-next {
    from {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
}
@keyframes increment-next {
    from {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
}
.row-30 {
    margin-bottom: -30px;
}
.row-15 {
    margin-bottom: -15px;
}
.bg-gray-100 .heading-component {
    border-bottom-color: #d7d7d7;
}
.heading-component {
    position: relative;
    line-height: 1;
    border-bottom: 1px solid #e1e1e1;
}
.heading-component-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.heading-component-title {
    position: relative;
    display: inline-block;
    padding-left: 15px;
    line-height: 26px;
    color: #071824;
    font-size: 1rem;
}
.heading-component-title::before {
    content: '';
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 0;
    border-left: 4px solid #2ecc71;
    pointer-events: auto;
}
.heading-component-inner>* {
    margin-bottom: 11px;
    color: white;
}
.heading-component+.sport-table-header {
    margin-top: 30px;
}
.sport-table {
    background-color: #213743;
}
.sport-table-header {
    padding: 12px 23px 8px 23px;
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    background-color: #071824;
}

.site-color {
    color: rgb(177, 186, 211);
    font-weight: 100;
}
.sport-table-title {
    border-right: 1px solid #e1e1e1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
}
.sport-table-title-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sport-table-icon {
    padding-right: 13px;
    padding-left: 13px;
}
.sport-table-tr {
    padding: 11px 15px;
    color: white;
}

@media (min-width: 992px) {
    .sport-table-tr {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 992px) {
    .sport-table-header p{
        text-transform: uppercase;
        /*display: flex;*/
        /*flex-direction: column;*/
        font-weight: bold;
    }
    .sport-table-header p .countdown{
        text-align: right;
    }
}

.sport-table-title-team {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
}
@media (min-width: 992px) {
    .sport-table-wager {
        flex-wrap: nowrap;
    }
    .sport-table-wager-button {
        flex-basis: 31.1%;
        max-width: 31.1%;
    }
    .sport-table-header p{
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.sport-table-wager {
    display: flex;
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
}
.sport-table-wager-button {
    flex-basis: 31.1%;
    max-width: 31.1%;
}
.sport-table-wager-button, .sport-table-wager-button:focus, .sport-table-wager-button:active {
    color: #151515;
    background-color: #eaecee;
}
.sport-table-wager-button, .sport-table-wager-button:focus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: 0.025em;
    text-align: center;
    margin: 0px 1px;
    background: #071824;
    color: #fff;
}
.sport-table-wager-button a:hover {
    background: rgb(0, 37, 77);
    color: #fff;
}
.sport-table-wager-button span {
    display: block;
    line-height: 1.2;
}
.sport-table-wager-button-count {
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 800;
    color: rgb(0,33,255)
}
@media (min-width: 768px) {
    .sport-table-title {
        border-right: 1px solid #e1e1e1;
    }
}
@media (max-width: 767px) {
    .sport-table-title {
        border-right: transparent;
    }
}
/*
Modal CSS
 */

.modal-sport .modal-header {
    background-color: #0F212E;
    color: #fff;
    border: 0;
    border-radius: 0;
}
.modal-sport .close {
    padding: 15px 10px;
    margin: -15px -15px -15px auto;
    font-size: 28px;
    color: inherit;
    opacity: 1;
    cursor: pointer;
    transition: .3s ease-out color;
    text-shadow: none;
}
.modal-sport .modal-body {
    padding-top: 25px;
    padding-bottom: 30px;
    text-align: center;
}
.modal-sport .modal-content {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: rgb(25, 44, 56);
}
.modal-sport-confrontation, .modal-sport-wager-title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.modal-sport-wager {
    color: #2ecc71;
}
.modal-sport-confrontation, .modal-sport-wager-count {
    color: #151515;
}
.modal-sport-confrontation, .modal-sport-wager-count {
    color: #151515;
}
.modal-sport-live {
    margin-top: 5px;
    letter-spacing: 0.05em;
    color: white;
}
.modal-sport .modal-footer {
    padding: 22px 30px;
    flex-direction: column;
    border-top: 1px solid #cccccc;
}
.modal-sport-place {
    padding: 18px 32px !important;
    margin: 21px 0 10px !important;
}
.progress-button-item .bet_button, .progress-button-item .progress {
    width: 100%;
}
.progress-button-item .progress {
    margin: 8px 0 0;
}
.sport-table-wager-button.progress-button-item {
    background: transparent;
    flex:1;
}
.progress-button-item .bet_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: 0.025em;
    text-align: center;
    margin: 0px 1px;
    background: #071824;
    /*color: rgb(85, 112, 134);*/
    color: white;
    font-weight: bold;
}
.sport-table-wager {
    /*flex-wrap: wrap;*/
}
.progress-button-item {
    max-width: 100%;
    flex-basis: 33.33%;
}
.progress {
    background: #c5c4d2;
}
@media screen and (max-width: 575px) {
    .progress-button-item {
        flex-basis: 50%;
    }
}
@media screen and (max-width: 399px) {
    .progress-button-item {
        flex-basis: 100%;
    }
}
.sport-table-wager {
    margin: 0 -7px;
}
.option-name {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
    height: 1.2em;
    white-space: nowrap;
}
.vehicles-area{
    padding: 2rem 0 2rem;
    background-color: rgb(25, 44, 56);
}

.nav-area .main-menu {
    /*background-color: rgb(25, 44, 56);   */
    /*color: white!important;*/
}

.button-content {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 0rem 1.3rem 0px 0rem;
}
.icon-wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    justify-content: center;
}
svg:not(:root) {
    overflow: hidden;
}

.eiogy {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentcolor;
    fill: currentcolor;
}
.csAgNu {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(50%, -35%);
    font-size: 0.875rem;
    color: rgb(255, 255, 255);
}
.iUVkfr {
    font-weight: 600;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-feature-settings: "tnum";
    font-size: 0.875rem;
    display: inline-flex;
    padding: 0px 0.5rem;
    min-width: 1.6em;
    height: 1.6em;
    border-radius: 0.8em;
    color: rgb(177, 186, 211);
    background: rgb(7, 15, 36);
}
.eageCH {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    max-width: 10ch;
}
.jiKQsf {
    width: 6ch;
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.gjBbTt {
    color: rgb(255, 255, 255);
    display: flex;
    background: #071824;
    /*border-radius: 0.5rem;*/
    padding: 1rem 1.5rem;
    /*width: 690px;*/
    overflow: auto hidden;
    transform: translate3d(0px, 0px, 0px);
    /*margin:0px 32px;*/
}

.button-content:hover {
     color: rgb(255, 255, 255); 
}
.gjBbTt > button, .gjBbTt a {
    position: relative;
    padding-top: 0.75rem;
    color: rgb(85, 112, 134);
    transition: all 300ms ease 0s;
}

.active {
    color: white;
    font-weight: bold;
}

.active .iUVkfr {
    background: rgb(31, 139, 255);
    color: white;
}

.split {
    background-color: #0F212E;
    padding: 1px 0px;
}

.total-question:hover {
    color: white;
    font-weight: bolder;
}
.total-question {
    color: rgb(177, 186, 211);
    text-align: center;
    font-weight: bold;
}
.all-item {
    display: none;
}

.left, .right {
    display: flex;
    justify-content: space-between;
}
.live {
    font-weight: 600;
    /*display: flex;*/
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 3px;
    padding: 0px 0.25rem;
    font-feature-settings: "tnum";
    font-size: 0.6rem;
    background: rgb(254, 34, 71);
    color: rgb(255, 255, 255);
    text-transform: none;
    margin-right: 35px;
    border: none;
    display: block!important;
}
.live-match{
    display: none;
}
.text {
    font-weight: 600;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(199, 138, 0);
    text-transform: none;
    border: none;
}

.layout-left {
    width: 240px;
}

.main {
    width: 1000px;
    /*margin-right: 12px;*/
}